body {
 
  margin: 0;
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
 
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
 
    sans-serif;
 
  -webkit-font-smoothing: antialiased;
 
  -moz-osx-font-smoothing: grayscale;
 
}
 
 
code {
 
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
 
    monospace;
 
}
 
 
.App{
  padding: 15px;
}
 
 
.wrapper{
  display: inline-block;
  padding: 15px;
}
 
 
.draggable {
  background-color: black;
  color: white;
  font-size: 12px;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}
 
.drag-container{
  padding-top: 10px;
  border: 1px solid;
  padding: 5px;
  min-height: 348px;
}
 
.lab-container{
  padding-top: 10px;
  border: 1px solid;
  padding: 5px;
  min-height: 160px;
  height: auto;
}
 
 
.seminar-container{
  padding-top: 10px;
  border: 1px solid;
  padding: 5px;
  min-height: 160px;
  height: auto;
}
 
 
.paletteWrapper{
 display:flex;
  flex-direction:row;
}
 
 
.crsWrapper{
  padding-right: 10px;
}
 
 
.optionWrapper{
  min-height: 300px;
 
  min-width: 300px;
 
  padding-top: 0px;
 
  padding-left: 10px;
 
  padding-right: 10px;
 
  border: 1px solid;
 
}
 
 
.emptyOptionWrapper{
 
  min-height: 300px;
  min-width: 300px;
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid;
}
 
 
.leftSideWrapper{
  padding-top: 15px;
}
 
.timetableClass{
  display:flex;
  flex-direction:row;
}
 
.timetableClass{
  margin:10px;
}
 
.TOOLTIPPPP {
  white-space: pre-line;
  width: 450px;
}