.indvTerm{
    /* Background color of each term div*/
    background-color: rgb(140, 101, 101);
 
    /* Text color of each term div*/
    color: white;
 
    /* Width of eachterm div*/
    width: 65px;
    height: 30px;
 
    /* Font of text inside term div*/
    font-size: 15px;
 
    /*Spacing on all sides of text inside a term div*/
    padding: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
 
    /* Make the term divs rounded corners*/
    border-radius: 5px;
    /*Spacing between terms in term palette*/
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 5px;
 
    /* Looks good when cursor points to a term div*/
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
 
.termPalette{
 
    /* Border of Term palette*/
    border: 3px solid;
    border-color: black;
 
    /* Spacing on all sides of outside of Term palette*/
    margin: 10px;
 
    /* Spacing on all sides of inside of term palette*/
    padding: 10px;
 
    /*Width and height of term palette*/
    min-width: 600px;
    width: fit-content;
    height: 75px;
 
    display: flex;
    flex-direction: row;
}